<div class="page-header">
	<h1>Bem vindo ao BancoDeIdeias</h1>
	<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>